* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quicksand", serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 110px;
  margin-bottom: 50px;
  gap: 20px;
}
.button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
input {
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  font-size: 12px;
  transition: 0.3s;
}
.locked-info {
  width: 100%;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 12px;
}
select {
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  font-size: 12px;
  transition: 0.3s;
}
select:focus {
  outline: 5px solid #96cdfb;
}
input[type="text"]:focus {
  outline: 5px solid #96cdfb;
}
input[type="number"]:focus {
  outline: 5px solid #96cdfb;
}
input[type="file"]:focus {
  outline: 5px solid #96cdfb;
}
input[type="submit"] {
  background-color: #854da0;
  font-weight: 700;
  color: white;
  border: none;
}
input[type="submit"]:hover {
  background-color: white;
  color: #854da0;
  border: 1px solid #854da0;
}
input[type="button"] {
  background-color: #f28fad;
  font-weight: 700;
  color: #aa4f6d;
}
input[type="button"]:hover {
  background-color: #aa4f6d;
  color: #f28fad;
}
